body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px; /* NOTA: Medida estandar para las medidas responsives */
}

header {
    background-color: #d62828;
    color: #fff;
    text-align: center;
    padding: .1em;
    font-size: 2em;
}

main {
    width: 80vw;
    margin: 4em auto;
    background-color: #fff;
    padding: 2em;
    border-radius: .5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1em;
}

.btn-container {
    display: flex;
    width: 80vw;
    justify-content: flex-end;
}

label {
    font-size: 2em;
}

input, select {
    width: 70vw;
    padding: .5em;
    border: .1em solid #ccc;
    border-radius: 5em;
    font-size: 1.8em;
    font-weight: bold;
}

button {
    background-color: #d62828;
    color: #fff;
    padding: 1em 2em;
    border: none;
    border-radius: 5em;
    cursor: pointer;
    font-size: 2em;
}

#precioSeguro {
    font-weight: bold;
    font-size: 2.5em;
}

